@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-orange: #FF9F1C;
  --color-brand-dark: #050505;
  --color-brand-light: #F5F5F5;

  --color-bg-primary: #050505;
  --color-bg-secondary: #111111;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #A3A3A3;
  --color-border-primary: rgba(255, 255, 255, 0.1);

  --font-brand: 'MuseoModerno', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@keyframes flicker {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  52% {
    opacity: 0.2;
  }

  54% {
    opacity: 0.8;
  }

  56% {
    opacity: 0.1;
  }

  58% {
    opacity: 1;
  }
}

.light {
  --color-bg-primary: #F5F5F5;
  --color-bg-secondary: #FFFFFF;
  --color-text-primary: #050505;
  --color-text-secondary: #525252;
  --color-border-primary: rgba(0, 0, 0, 0.1);
}

@layer base {
  html {
    background-color: var(--color-bg-primary);
    transition: background-color 0.5s ease;
  }

  body {
    font-family: var(--font-inter);
    color: var(--color-text-primary);
    transition: color 0.5s ease;
  }
}

@layer utilities {
  .font-brand {
    font-family: var(--font-brand);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}