@import "tailwindcss";

@theme {
  --color-brand-orange: #FF9F1C;
  --color-brand-dark: #050505;
  --color-brand-light: #F5F5F5;

  --color-bg-primary: #050505;
  --color-bg-secondary: #111111;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #A3A3A3;
  --color-border-primary: rgba(255, 255, 255, 0.1);

  --font-brand: "MuseoModerno", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@keyframes flicker {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  52% {
    opacity: 0.2;
  }

  54% {
    opacity: 0.8;
  }

  56% {
    opacity: 0.1;
  }

  58% {
    opacity: 1;
  }
}

.light {
  --color-bg-primary: #F5F5F5;
  --color-bg-secondary: #FFFFFF;
  --color-text-primary: #050505;
  --color-text-secondary: #525252;
  --color-border-primary: rgba(0, 0, 0, 0.1);
}

@utility glow-text {
  text-shadow: 0 0 10px var(--color-brand-orange), 0 0 20px var(--color-brand-orange);
}

@utility glow-box {
  box-shadow: 0 0 15px rgba(255, 159, 28, 0.3);
}

@layer base {
  html {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font-inter);
    scroll-behavior: smooth;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
}